@model EndlessJourney.Web.ViewModels.Bookings.BookingsListViewModel
@{
    this.ViewData["Title"] = "My Bookings";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@{
    var featureTrips = this.Model.Bookings.Where(x => x.StartDate > DateTime.Now).ToList();
    var lastTrips = this.Model.Bookings.Where(x => x.StartDate < DateTime.Now).ToList();
}

<h2>All @this.ViewData["Title"] - @Model.Bookings.Count()</h2>
<hr />
<h4 class="text-muted">My feature trips</h4>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var trip in featureTrips)
    {
        <div class="col">
            <div class="card h-100">
                <img src=@trip.PathName class="card-img-top" height="250" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@trip.DestinationName</h5>
                    <h6 class="card-title text-muted">Ship: @trip.ShipName</h6>
                    <p class="card-text">@trip.StartDate.ToString("D") - @trip.EndDate.ToString("D")</p>
                </div>
            </div>
        </div>
    }
</div>
@if (lastTrips.Count != 0)
{
    <hr />
    <h4 class="text-muted">My previous trips</h4>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var trip in lastTrips)
        {
            <div class="col">
                <div class="card h-100">
                    <img src=@trip.PathName class="card-img-top" height="250" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@trip.DestinationName</h5>
                        <h6 class="card-title text-muted">Ship: @trip.ShipName</h6>
                        <p class="card-text">@trip.StartDate.ToString("D") - @trip.EndDate.ToString("D")</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

