@model EndlessJourney.Web.ViewModels.Trips.TripsListViewModel
@{
    this.ViewData["Title"] = "All Trips, page " + Model.PageNumber;
}

@*TODO remove*@
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>}

<h1>@this.ViewData["Title"]</h1>
<hr />
@foreach (var trip in this.Model.Trips)
{
    <div class="row">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@trip.ImageUrl" class="img-fluid rounded-start " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="col-md-6 card-body d-md-inline-block">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="col-md-4 card-body d-md-inline-block">
                        <p class="float-md-right">@trip.Price$ per person</p>
                        <button class="float-md-right alert btn-info">Book now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<hr />
<partial name="_PagingPartial" model="@Model" />