@model EndlessJourney.Web.ViewModels.Cities.CitiesListViewModel
@using static EndlessJourney.Common.GlobalConstants.RolesNamesConstants
@{
    this.ViewData["Title"] = "All Cities";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h2>@this.ViewData["Title"] - @Model.Count</h2>
<hr />
@if (this.User.IsInRole(AdministratorRoleName))
{
    <div>
        <ul style="list-style:none">
            <li class="nav-item">
                <a class="float-md-none alert btn btn-outline-secondary" asp-area="Admin" asp-controller="Cities" asp-action="Create">Create City</a>
            </li>
        </ul>
    </div>
}
<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var city in this.Model.Cities)
    {
        <div class="col">
            <div class="card">
                <img src=@city.ImageUrl class="card-img-top" height="400" alt=@city.Name>
                <div class="card-body">
                    <h5 class="card-title">@city.Name, @city.CountryName</h5>
                    <p class="card-text">@city.Description</p>
                </div>
            </div>
        </div>
    }
</div>
